/* Common Styles */

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    font-weight: 400;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 920px;
    border-radius: 20px;
    align-items: center;
}

/* Images section */

.images-container {
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    align-self: stretch;
    background-position: 112% 65%;
    position: relative;
    width: 50%;
}

.image-box {
    position: absolute;
    top: 205px;
    left: -90px;
}

.imageonline-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-online {
    position: absolute;
    top: 70px;
    left: -85px;
}

.image-onlineM {
    display: none;
}

/* FAQ Section */

.faq-section {
    width: 350px;
    margin: 70px 100px 85px 20px;
}

h1 {
    color: var(--very-dark-desaturated-blue);
    font-size: 2rem;
}

.qa-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow: scroll;
}

.qa-item {
    border-bottom: var(--light-grayish-blue) solid 1px;
    padding-bottom: 15px;
}

.icon-arrow {
    float: right;
}

.question:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.close p {
    display: none;
}

.question {
    font-size: 1.2em;
    margin-right: 10px;
    margin-top: 20px;
}

.open p {
    display: block;
    margin-top: 12px;
    margin-bottom: 3px;
    line-height: 1.4;
}

.open .question {
    font-weight: 700;
    color: var(--very-dark-grayish-blue)
}

.open img {
    transform: rotate(180deg);
}

/* Mobile version */

@media screen and (max-width:950px) {
    main {
        width: 80%;
        min-width: 326px;
        flex-direction: column;
    }
    .images-container {
        background: none;
        width: 100%;
    }
    .image-box {
        display: none;
    }
    .imageonline-container {
        position: relative;
        overflow: unset;
        width: 100%;
    }
    .image-online {
        display: none;
    }
    .image-onlineM {
        background-image: url(images/bg-pattern-mobile.svg);
        background-position: 25px 100%;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
        padding-right: 25px;
        padding-bottom: 15px;
        position: absolute;
        left: 0;
        right: 0;
        top: -105px;
    }
    .faq-section {
        margin: 145px 0 50px;
        padding: 0 35px;
    }
    h1 {
        text-align: center;
    }
    .qa-container {
        margin-top: 15px;
    }
    .qa-item {
        padding-bottom: 17px;
    }
    .question {
        margin-right: 0;
    }
    .open p {
        margin-right: 10px;
    }
}

@media screen and (max-width:500px) {
    .question {
        font-size: 13px;
    }
}