*{
 padding:0;
 margin:0;
 box-sizing: border-box;
 font-family: 'Kumbh Sans', sans-serif;
}

html,body{
    height:100%;
}
body{
    height:100%;
    background-image:linear-gradient(hsl(272, 18%, 71%),hsl(240, 73%, 65%)) ;
    color:hsl(237, 12%, 33%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    background-image: url(images/bg-pattern-desktop.svg);
    display:flex;
    width: 920px;
    height: 510px;
    border-radius: 20px;
    align-items: center;
}
.close{
    display: none;
}
.open{
    display:block;
}
.openArrow{
    transform: rotate(180deg);
}